[submodule "vendor/plugins/activerecord_i18n_defaults"]
	path = vendor/plugins/activerecord_i18n_defaults
	url = git://github.com/dcrec1/activerecord_i18n_defaults.git
[submodule "vendor/plugins/asset_packager"]
	path = vendor/plugins/asset_packager
	url = git://github.com/sbecker/asset_packager.git
[submodule "vendor/plugins/crumble"]
	path = vendor/plugins/crumble
	url = git://github.com/mattmatt/crumble.git
[submodule "vendor/plugins/i18n_label"]
	path = vendor/plugins/i18n_label
	url = git://github.com/iain/i18n_label.git
[submodule "vendor/plugins/params_sanitizer"]
	path = vendor/plugins/params_sanitizer
	url = git://github.com/mauricio/params_sanitizer.git
[submodule "vendor/plugins/styler"]
	path = vendor/plugins/styler
	url = git://github.com/mokolabs/styler.git
[submodule "vendor/plugins/user_stamp"]
	path = vendor/plugins/user_stamp
	url = git://github.com/jnunemaker/user_stamp.git
[submodule "vendor/plugins/javascripter"]
	path = vendor/plugins/javascripter
	url = git://github.com/mokolabs/javascripter.git
