- form_for(@task, :url => new_product_sprint_task_path(@product, @sprint, @task), :html => {:class => 'dataForm'}) do |f|
  %fieldset
    %legend= t('app.sprints.new')
    = render :partial => 'tasks/form', :locals => { :f => f }
    %p= button_tag t('system.create'), :accept, :class => 'positive'

