// Variables
!site_width = 960px

// Basic Elements
textarea
  height: 200px
  width: 400px

input.smallInput
  width: 150px

table
  border-spacing: 0

// Common Classes
.inline
  display: inline !important

.left
  float: left

.right
  float: right

.center
  text-align: center

.transparent
  background: transparent
  border: none

.transparent:hover
  background: transparent
  border: none

.state-highlight
  border: 1px solid orange !important

.search
  input
    margin: 0
    height: 19px
  button
    margin: 0
    padding: 4px 2px 10px 5px

.smallForm
  fieldset
    padding: 0.5em 1.5em 0.5em 1.5em

.dataList
  caption
    font-size: 1.2em
    line-height: 1.25
    text-align: left
  thead
    text-align: left
  td
    border-bottom: 1px solid #CCCCCC
  tr:hover td
    background: #EEEEEE none repeat scroll 0 0

.story-card
  background: #6AACD4 none repeat scroll 0 0 !important
.bug-card
  background: #AD8657 none repeat scroll 0 0 !important
.change-card
  background: #D4B66A none repeat scroll 0 0 !important

.category-story
  color: #6AACD4
.category-bug
  color: #AD8657
.category-change
  color: #D4B66A

.status-todo
.status-doing
.status-done
  text-decoration: line-through

.fieldWithErrors
  input, textarea, select, span.slider
    border: 1px solid #8A1F11
  label
    color: #8A1F11

.pagination
  background: #F1F1F1
  border: 1px solid #E5E5E5
  text-align: center
  padding: 1em
  a, span
    padding: .2em .3em
    a
      text-decoration: none
      color: black
    a:hover, a:focus
      text-decoration: underline
  span.disabled
    color: #AAA
  span.current
    font-weight: bold
    background: transparent url(/images/pagination-circle.gif) no-repeat 50% 50%

.slider
  width: 300px
  display: block

.newLink
  width: 100px

.login
  width = !site_width * 0.4
  margin: 100px auto 0 auto

// Specific Selector
div.color
  height: 20px
  width: 20px

ul.clean-list
  font: 11px Arial, Helvetica, sans-serif
  height: 30px
  line-height: 30px
  color: #9b9b9b
  overflow: hidden
  margin: 0px
  padding: 0px
  li
    list-style-type: none
    float: left
    padding-left: 10px
  a:hover
    color: #9B9B9B
  a
    height: 30px
    display: block
    padding-right: 15px
    text-decoration: none
    color: #454545

// Page Template (thanks to http://csseasy.com)
body
  width = !site_width
  margin: 0 auto
  margin-top: 5px

#header
  width = !site_width
  height: 30px

#navigation
  width = !site_width
  height: 30px
  margin-top: 10px

#message
  width = !site_width
  margin-top: 10px

#content
  width = !site_width
  min-height: 450px /* for modern browsers */
  height: auto !important /* for modern browsers */
  height: 450px /* for IE5.x and IE6 */
  margin-top: 10px

#footer
  width = !site_width
  height: 100px
  margin-top: 10px

