div#errorExplanation
  h2
    font-weight: bold
    font-size: 12px

.fieldWithErrors
  input.text, input.title, textarea, select
    border: 1px solid #8A1F11
  label
    color: #8A1F11

div#search
  fieldset
    padding-bottom: 6px
  p
    margin: 0
  button
    padding: 1px 10px 3px 7px
    display: inline

div.pagination
  background: #F1F1F1
  border: 1px solid #E5E5E5
  text-align: center
  padding: 1em
  a, span
    padding: .2em .3em
    a
      text-decoration: none
      color: black
    a:hover, a:focus
      text-decoration: underline
  span.disabled
    color: #AAA
  span.current
    font-weight: bold
    background: transparent url(/images/pagination-circle.gif) no-repeat 50% 50%

#footer
  text-align: center

td
  border-bottom: 1px solid #CCCCCC

tr:hover td
  background: #EEEEEE none repeat scroll 0 0

.button
  a
    display: inline

.img_container
  width:80px
  height:80px
  border:1px solid #574331
  padding:5px
  background:#eee

textarea
  height: 100px
  width: 300px

