// Variables
!site_width = 960px

// Basic Elements
textarea
  height: 100px
  width: 300px

input.smallInput
  width: 150px

table
  border-spacing: 0

// Common Classes
.inline
  display: inline !important

.right
  float: right

.center
  text-align: center

.transparent
  background: transparent
  border: none

.transparent:hover
  background: transparent
  border: none

.search
  fieldset
    padding-bottom: 6px
    border: none
  button
    padding: 1px 10px 3px 7px

.smallForm
  fieldset
    padding: 0.5em 1.5em 0.5em 1.5em

.dataList
  caption, thead
    text-align: left
  td
    border-bottom: 1px solid #CCCCCC
  tr:hover td
    background: #EEEEEE none repeat scroll 0 0

.card-data
  text-align: left

.fieldWithErrors
  input, textarea, select, span.slider
    border: 1px solid #8A1F11
  label
    color: #8A1F11

.pagination
  background: #F1F1F1
  border: 1px solid #E5E5E5
  text-align: center
  padding: 1em
  a, span
    padding: .2em .3em
    a
      text-decoration: none
      color: black
    a:hover, a:focus
      text-decoration: underline
  span.disabled
    color: #AAA
  span.current
    font-weight: bold
    background: transparent url(/images/pagination-circle.gif) no-repeat 50% 50%

.slider
  width: 300px
  display: block

.newLink
  width: 100px

.login
  width = !site_width * 0.4
  margin: 100px auto 0 auto

// Specific Selector
div.color
  height: 20px
  width: 20px

// Page Template (thanks to http://csseasy.com)
body
  width = !site_width
  margin: 0 auto
  margin-top: 5px

#header
  width = !site_width
  height: 40px

#navigation
  width = !site_width
  height: 40px
  margin-top: 10px

#content
  width = !site_width
  min-height: 450px /* for modern browsers */
  height: auto !important /* for modern browsers */
  height: 450px /* for IE5.x and IE6 */
  margin-top: 10px

#footer
  width = !site_width
  height: 100px
  margin-top: 10px

