table#kanban
  caption
    text-align: left
  th
    text-align: center
    width: 25%
  td
    /border-bottom: 1px solid #CCCCCC
    div.postit
      text-align: center
      border: 1px solid white
      width: 60%
      margin: 0 20% 0 20%
      min-height: 35px
    div.postit:hover
      border: 1px solid orange

