- form_for [@product, @sprint, @task] do |f|
  %fieldset
    %legend= t('app.taskks.edit')
    = render :partial => 'taskks/form', :locals => { :f => f }
    %p= button_tag t('system.update'), :accept, :class => 'positive'

