= new_button(new_product_sprint_path(@product.slug), t('app.sprints.new'))
- form_for [@product, @sprint], :url => product_sprint_path(@product.slug, @sprint) do |f|
  %fieldset
    %legend= t('app.sprints.edit')
    = render :partial => 'sprints/form', :locals => { :f => f }
    %p= button_tag t('system.update'), :accept, :class => 'positive', :tabindex => 10

