- form_for [@product, @sprint] do |f|
  %fieldset
    %legend= t('app.sprints.new')
    = render :partial => 'sprints/form', :locals => { :f => f }
    %p= button_tag t('system.create'), :accept, :class => 'positive'

