- form_for [@product, @story] do |f|
  %fieldset
    %legend= t('app.stories.edit')
    = render :partial => 'stories/form', :locals => { :f => f }
    %p= button_tag t('system.update'), :accept, :class => 'positive'

