- form_for([@product, @story], :html => {:class => 'dataForm'}) do |f|
  %fieldset
    %legend= t('app.stories.editing')
    = render :partial => 'stories/form', :locals => { :f => f }
    %p= button_tag t('system.update'), :accept, :class => 'positive'

