= link_to "#{icon(:page_add)}#{t('app.story.new')}", new_product_story_path(@product), :class => 'button', :id => 'new-button'
%br
%br

= render :partial => 'stories/table', :locals => { :stories => @stories }

