= new_button(new_product_path, t('app.products.new'))
- form_for @product do |f|
  %fieldset
    %legend= t('app.products.edit')
    = render :partial => 'products/form', :locals => { :f => f }
    %p= button_tag t('system.update'), :accept, :class => 'positive', :tabindex => 10

