- form_for(@product, :html => {:class => 'dataForm'}) do |f|
  %fieldset
    %legend= t('app.product.editing')
    = render :partial => 'products/form', :locals => { :f => f }
    %p= button_tag t('system.update'), :accept, :class => 'positive'

