- form_for @product do |f|
  %fieldset
    %legend= t('app.products.new')
    = render :partial => 'products/form', :locals => { :f => f }
    %p= button_tag t('system.create'), :accept, :class => 'positive'

